/* Styling Only Related To ALL Pages */


/* ⬆⬆⬆⬆ Nav Bar Styling 
~~~~~ Taken From: 
https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul {
  list-style-type: none;
  margin: auto;
  background-color: #ffffff00;
  display: flex;
  justify-content: center;
}

li a {
  display: block;
  color: rgb(124, 16, 151);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  text-shadow: 0 0 4px rgb(255, 0, 64);
  transition: all 200ms ease-out;
}

.active {
  background-color: rgba(255, 255, 255, 0);
}

